<b>Bibliotecas</b>

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

<b> Broad Analysis Skills</b>

In [3]:
df = pd.read_excel('Global Superstore.xls')
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [5]:
mask_brazil = df['Country'] =='Brazil'
df_brazil = df[mask_brazil]
df_brazil

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
13,4132,MX-2012-130015,2012-11-13,2012-11-13,Same Day,VF-21715,Vicky Freymann,Home Office,Toledo,Parana,...,FUR-CH-10002033,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",2221.80,7,0.0,622.02,810.250,Critical
140,2283,MX-2012-164791,2012-12-06,2012-12-08,First Class,PV-18985,Paul Van Hugh,Home Office,Salto,São Paulo,...,TEC-AC-10000376,Technology,Accessories,"Memorex Router, Bluetooth",2297.96,14,0.0,988.12,483.257,High
255,8870,MX-2013-151764,2013-09-21,2013-09-24,Second Class,JL-15175,James Lanier,Home Office,Feira de Santana,Bahia,...,FUR-CH-10000843,Furniture,Chairs,"SAFCO Executive Leather Armchair, Set of Two",1236.48,4,0.0,111.28,381.219,Critical
267,6594,MX-2014-128405,2014-11-22,2014-11-24,First Class,KD-16270,Karen Daniels,Consumer,Tupã,São Paulo,...,FUR-CH-10002093,Furniture,Chairs,"Harbour Creations Rocking Chair, Adjustable",897.48,9,0.0,322.92,374.376,Critical
303,8753,MX-2014-154935,2014-09-11,2014-09-18,Standard Class,RB-19795,Ross Baird,Home Office,Ibiúna,São Paulo,...,FUR-TA-10000136,Furniture,Tables,"Chromcraft Conference Table, Adjustable Height",2332.96,5,0.2,349.86,357.789,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51213,1359,MX-2011-152037,2011-09-13,2011-09-16,Second Class,ME-17320,Maria Etezadi,Home Office,Bagé,Rio Grande do Sul,...,OFF-ST-10003164,Office Supplies,Storage,"Fellowes Box, Wire Frame",12.50,1,0.0,5.36,0.064,Medium
51250,8362,MX-2014-113327,2014-12-22,2014-12-24,First Class,BG-11695,Brooke Gillingham,Corporate,Ibirité,Minas Gerais,...,OFF-FA-10001337,Office Supplies,Fasteners,"Stockwell Staples, Assorted Sizes",36.68,7,0.0,16.80,0.042,High
51274,9309,MX-2014-162803,2014-09-11,2014-09-12,First Class,SL-20155,Sara Luxemburg,Home Office,Vespasiano,Minas Gerais,...,OFF-LA-10003271,Office Supplies,Labels,"Novimex Shipping Labels, Adjustable",5.92,1,0.0,0.04,0.023,High
51281,6039,MX-2014-169530,2014-06-09,2014-06-11,First Class,HG-15025,Hunter Glantz,Consumer,Bragança Paulista,São Paulo,...,OFF-PA-10002418,Office Supplies,Paper,"Green Bar Message Books, Multicolor",84.00,5,0.0,9.20,0.019,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.44,2,0.0,2.40,0.003,Medium

In [21]:
df_brazil['City'].value_counts()

São Paulo           148
Brasília             45
Salvador             43
Curitiba             28
Presidente Dutra     28
                   ...
Buriticupu            1
Poços de Caldas       1
Seropédica            1
Sobral                1
Floriano              1
Name: City, Length: 254, dtype: int64

In [13]:
df_sales = df_brazil.groupby('City')[['Sales']].sum().reset_index().sort_values(by='Sales' ,ascending=False).head(10)
df_sales

                City        Sales
227        São Paulo  38965.56548
39          Brasília  12672.63868
77          Curitiba   9775.40284
149           Manaus   5826.09992
146           Macapá   5689.48516
200         Salvador   5093.06048
194   Ribeirão Preto   5044.08316
28            Bayeux   4906.50000
208  Sapucaia do Sul   4776.76752
222      São Gonçalo   4708.26100

In [24]:
df_cost = df_brazil.groupby('City')[['Shipping Cost']].sum().reset_index().sort_values(by='Shipping Cost' ,ascending=False).head(10)
df_cost

                 City  Shipping Cost
227         São Paulo       4074.561
39           Brasília       1387.155
236            Toledo        818.272
77           Curitiba        800.978
149            Manaus        630.390
85   Feira de Santana        581.748
194    Ribeirão Preto        557.838
110           Indaial        551.463
28             Bayeux        540.822
188  Presidente Dutra        531.021

In [25]:
df_profit = df_brazil.groupby('City')[['Profit']].sum().reset_index().sort_values(by='Profit' ,ascending=False).head(10)
df_profit

            City      Profit
227    São Paulo  9411.44548
77      Curitiba  2960.16284
39      Brasília  2214.77868
149       Manaus  1754.45992
206  Santo André  1592.70000
28        Bayeux  1317.44000
146       Macapá  1248.62516
222  São Gonçalo  1168.44100
191       Recife  1165.00168
56     Castanhal  1144.78000

In [22]:
df_brazil['Order Priority'].value_counts()

Medium      936
High        486
Critical    122
Low          55
Name: Order Priority, dtype: int64